{
  "empresaNome": "Sua Empresa",
  "empresaEndereco": "Endereço da Empresa",
  "empresaTelefone": "(00) 0000-0000",
  "empresaCNPJ": "00.000.000/0000-00",
  "horarioAbertura": "08:00",
  "horarioFechamento": "18:00",
  "diasFuncionamento": ["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
  "valorPontoReal": 1,
  "pontosParaReais": 100
}
